@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
/* @import 'tailwindcss/preflight'; */
@import "tailwindcss";

/* Put custom base styles into Tailwind's base layer so they keep the correct cascade order */
/* @layer base {
	body {
		margin: 0;
		padding: 0;
		font-family: 'Open Sans', sans-serif;
	}
} */

/* @tailwind utilities; */
